My Plan With Upcoming Updates in Project DuSk....

Made By Dusky™:

Dusky™
----------------------------------------

Update 3.5.6.0
\\ Fix Potential Bugs I find
\\ Add in some more stuff to Utility
\\ Fix/Add Non Working Commands

Update 3.5.7.0
\\ Fix Potential Bugs with Previous Update
\\ Add in More Stuff
\\ Fix Potential Non Working Commands.

Update 4.0.0.0

\\ Finish Utility
\\ Add in More Menu's
\\ Add in Easier Access To Stuff
\\ More Stuff Haven't Thought of yet.
